body {
  background: url(../images/background.png) center center fixed;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

#topic-buttons {
  margin: 20px 0;
}

.topic-btn {
  margin: 0 15px 15px 0;
}

.gif {
  float: left;
  margin: 0 10px 20px 0;
}
.rating {
  margin-bottom: 5px;
}

#moar {
  display: block;
  clear: both;
}